

<div class="container-xxl py-5">
    <div class="container">
     
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="~/bootstrap-restaurant-template/img/about-1.jpg">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="~/bootstrap-restaurant-template/img/about-2.jpg" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="~/bootstrap-restaurant-template/img/about-3.jpg">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="~/bootstrap-restaurant-template/img/about-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">Hakkımızda</h5>
                    <h1 class="mb-4">Restoranımıza <i class="fa fa-utensils text-primary me-2"></i>Hoş geldiniz</h1>
                <p class="mb-4"> Restaurantium, geleneksel lezzetleri modern dokunuşlarla buluşturan, benzersiz bir restoran deneyimi sunuyor. Yemek tutkumuz ve misafirperverliğimiz, her tabağımızda hissediliyor. Şeflerimiz, en taze malzemeleri kullanarak her yemeği özenle hazırlıyor ve yaratıcı dokunuşlarla menümüzü sürekli olarak zenginleştiriyor. Restoranımız, samimi atmosferi ve konforlu dekorasyonu ile misafirlerimize evlerinde hissettiriyor. Bizim için her misafir bir aile üyesi gibi ve burada geçirdiğiniz her anın unutulmaz olmasını istiyoruz. Sizleri, lezzet dolu bir yolculuğa çıkmak için Restaurantium'a bekliyoruz! </p> <p class="mb-4"> Her ziyaretinizde sizlere özenle hazırlanmış yemekler sunarak, tatilinizi ve özel anlarınızı daha keyifli hale getirmeyi amaçlıyoruz. Restoranımızda geçirdiğiniz zamanı sadece bir yemek deneyimi olarak değil, aynı zamanda güzel anılar biriktireceğiniz bir fırsat olarak görüyoruz. Misafirlerimizin memnuniyeti ve mutluluğu bizim için her şeyden önce gelir. Bu yüzden Restaurantium, her zaman kaliteli hizmet ve unutulmaz bir deneyim sunma taahhüdüyle hizmet vermeye devam ediyor. Bizi tercih ettiğinizde, sadece bir öğün değil, aynı zamanda özenle hazırlanmış bir misafirperverlik deneyimi yaşarsınız. Restaurantium'da her an, kendinizi özel ve değerli hissetmeniz için her detay titizlikle düşünülmüştür. </p>
                    <div class="row g-4 mb-4">
                      
                       
                    </div>
                   
                </div>
            </div>
    </div>
</div>


