@* @model ResultProfileDto

<h2>Profil Düzenle</h2>

<form asp-action="UpdateProfile" method="post">
    <div>
        <label>Kullanıcı Adı</label>
        <input asp-for="Username" type="text" />
    </div>

    <div>
        <label>Şifre</label>
        <input asp-for="Password" type="text" />
    </div>
    <button type="submit">Güncelle</button>
</form>
 *@

@{
    ViewData["Title"] = "EditProfile";
    ViewData["IncludeValidationScripts"] = true;
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@model ResultProfileDto

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Kullanıcı Bilgisi Düzenleme</h4>
                        <p class="card-subtitle mb-4">Tüm bilgileri eksiksiz olarak doldurarak bilgilerinizi düzenleyebilirsiniz!</p>

                        <form method="post" asp-action="UpdateProfile">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="UserID" />
                            <div class="form-group">
                                <label for="exampleInputUsername">Kullanıcı Adı</label>
                                <input type="text" class="form-control" id="exampleInputUsername" asp-for="Username">
                                @Html.ValidationMessageFor(x => x.Username, null, new { @class = "invalid-feedback d-block" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword">Şifre</label>
                                <input type="password" class="form-control" id="exampleInputPassword" asp-for="Password">
                                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "invalid-feedback d-block" })
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
