@model List<ResultFooterContactDto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">İletişim Bilgileri Alanı</h4>
                        <p class="card-subtitle mb-4">Bu sayfada footerde yer alan iletişim bilgileri ile verileri görüntüleyebilir, ekleyebilir ve güncelleyebilirsiniz.Temada uyumsuzluk olmaması amacıyla veri sınırı 1 tane olmak üzere sınırlandırılmıştır.</p>
                        @if (Model.Count == 0)
                        {
                            <div class="alert alert-danger at-3" role="alert">
                                <p><i>Daha önce eklenen herhangi bir veri <b>bulunamadı.</b> ekle butonunu kullanarak yeni veri girişi yapabilirsiniz.</i></p>
                            </div>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Adres</th>
                                            <th>Telefon</th>
                                            <th>Email</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td>@item.Address</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Email</td>

                                                <td><a href="/Admin/FooterContact/UpdateFooterContact/@item.FooterContactID" class="btn btn-outline-success">Güncelle</a></td>
                                               
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                        @if (count == 0)
                        {
                            <a href="/Admin/FooterContact/CreateFooterContact/" class="btn btn-outline-primary">Ekle</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





