@model List<ResultCompanySocialMediaDto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sosyal Medya Listesi</h4>
                        <p class="card-subtitle mb-4">Bu sayfada şirkete ait sosyal medya hesaplarını görüntüleyebilir, silebilir yahut güncelleyebilirsiniz.Veri girişi tema bütünlüğünü bozmamak adına 4 adetle sınırlandırılmıştır.</p>
                        @if (Model.Count == 0)
                        {
                            <div class="alert alert-danger at-3" role="alert">
                                <p><i>Daha önce eklenen herhangi bir veri <b>bulunamadı.</p>
                            </div>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Platform</th>
                                            <th>Url</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td>@item.Platform</td>
                                                <td>@item.Url</td>

                                                <td><a href="/Admin/CompanySocialMedia/RemoveCompanySocialMedia/@item.CompanySocialMediaID" class="btn btn-outline-danger">Sil</a></td>
                                                <td><a href="/Admin/CompanySocialMedia/UpdateCompanySocialMedia/@item.CompanySocialMediaID" class="btn btn-outline-success">Güncelle</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        @if(count < 4)
                        {
                            <a href="/Admin/CompanySocialMedia/CreateCompanySocialMedia/" class="btn btn-outline-primary">Ekle</a>
                        }
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








